/* Page background color */
body {
    background-color: #A9A9A9; /* Medium grey */
}
.Incomplete {
    background-color: #f9ba6c; /* Light red */
    color: #ffffff; /* White text */
    border: 1px solid #000000; /* Matching border */
}

.Incomplete:hover {
    background-color: #c0603d; /* Darker green on hover */
    border-color: #000000; /* Darker border color on hover */
}
/* Styling for complete buttons */
.Complete {
    background-color: #1d671d; /* Light green */
    color: #ffffff; /* White text */
    border: 1px solid #000000; /* Matching border */
}

.Complete:hover {
    background-color: #0f5c0f; /* Darker green on hover */
    border-color: #000000; /* Darker border color on hover */
}
/* Dropdowns and text box background color */
.dropdown-item-container,
.text-box input,
.name-input {
    background-color: #dcdcdc; /* Light grey */
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Buttons styling */
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.clear-button {
    background-color: lightcoral;
    color: white; /* Text color */
}
.popover{
    background-color: orange;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px; /* Adjust the border radius for curved corners */
    padding: 5px; /* Adjust padding as needed */
    width: 300px; /* Set width as needed */
    margin: 5px; /* Adjust margins as needed */
}
.save-button {
    background-color: #1d671d;
    color: white; /* Text color */
}

.edit-button {
    background-color: rgb(155, 165, 226);
    color: white; /* Text color */
}
.selectedbutton{
    background-color: rgb(81, 25, 97);
    color: white; /* Text color */
}
.delete-button {
    background-color: rgb(198, 41, 41);
    color: white; /* Text color */
}
.cancel-button {
    background-color: rgb(237, 141, 141);
    color: white; /* Text color */
}

/* Align everything in the right column */
.text-box,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Padding between sections */
.text-box{
    padding-top: 5x; /* Adds 10 pixels of padding above the content */
}
.dropdown-item {
    padding: 10px;

}